<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
    <!-- , root_path -->
      <li class="menu-text"><%= link_to "Shop", products_path %></li>
      <li class="has-submenu">
        <a href="#">Categories</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="#0">One</a></li>
          <li><a href="#0">Two</a></li>
          <li><a href="#0">Three</a></li>
        </ul>
      </li>
      <li><%= link_to 'New Product', new_product_path if user_signed_in? &&  current_user.administrator? %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete if user_signed_in? %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
       <li>
        <%= form_tag products_path, method: :get do -%>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
        <% end -%>
      </li>
    </ul>
  </div>
</div>
