<div class="all">
<p id="notice"><%= notice %></p>

<div class="boundaries">
  <h1>
    <!-- <strong>Title:</strong> -->
    <%= @product.title %>
  </h1>

<div class="all_show">
  <div class="callout">
  <p>
    <%= @product.description %>
  </p>

  <div class="ps">
    
    <div class="price">
      <h5>Цена:</h5>
      <%= @product.price %>
      <text> руб.</text>
    </div>
  

    <div class="stock">
      <h5>На складе</h5>
      <%= @product.stock %>
      <text> шт.</text>
    </div>
  </div>
  
  <div class="links">
  <!-- как переделать в button_link (button_to "edit") -->
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
</div>
  </div>
  </div>



    
    <div class="comments">
      <body>
        <% @product.comments.each do |comment| %>
          <div class="comment">
            <%= comment.text %>
          </div>
        <% end %>
      </body>
    </div>
  <%= render 'comments/form', comment: @comment, product: @product %>

</div>
