<p id="notice"><%= notice %></p>
    <div class="medium-6 columns">
  <h1 align="center">
    <%= @product.title %>
  </h1>

<div class="all_show">
  <p>
    <%= @product.description %>
  </p>

  <div class="ps">
    
    <div class="price">
      <h5>Цена:</h5>
      <%= @product.price %>
      <text> руб.</text>
    </div>
  

    <div class="stock">
      <h5>На складе</h5>
      <%= @product.stock %>
      <text> шт.</text>
    </div>
  </div>
  
  <div align="center">
    <%= link_to 'Edit', edit_product_path(@product), class: "hollow tiny button" %>
    <%= link_to 'Back', products_path, class: "hollow tiny button" %>
  </div>
</div>
  </div>
</div>
<div class="medium-6 columns comments">
  <% @product.comments.each do |comment| %>
  <div class="comment callout">
    <%= comment.text %>
  </div>
  <% end %>
<%= render 'comments/form', comment: @comment, product: @product %>
</div>
